accelerate==1.14.0
datasets==4.8.5
geopandas==1.1.4
huggingface_hub==1.29.0
pandas==2.2.3
pandas-datareader==0.11.1
pandas-gbq==0.30.0
pandas-stubs==2.2.3.250527
pillow==11.3.0
sentence-transformers==5.7.0
sklearn-pandas==2.2.0
tensorflow-datasets==4.9.10
torch==2.11.0+cu128
torchao==0.10.0
torchaudio==2.11.0+cu128
torchcodec==0.11.0+cu128
torchdata==0.11.0
torchsummary==1.5.1
torchtune==0.6.1
torchvision==0.26.0+cu128
tqdm==4.67.3
transformers==5.16.1
vega-datasets==0.9.0
